extends layout

block content
  .container
    if (!user)
      p
        a.btn.btn-primary(href="/login") Login
      br
      p
        a.btn.btn-primary(href="/register") Register
    if (user)
      p You are currently logged in as #{user.username}
      p
        a.btn.btn-primary(href="/logout") Logout
